:root {
  --dark-blue: #352a79;
}

.hero-img {
  max-width: 400px;
}

.hero-stats span {
  font-size: 1.8rem;
  color: #0d6efd;
}

/* ---------- About Section ---------- */
.about {
  padding: 8rem 0;
}

.about .division-line {
  padding: 0;
  margin: 0;
}

.division-line {
  background: #0d6efd;
  height: 2px;
  width: 100%; /* fill available space */
  max-width: 25%; /* limit how long the line is */
  margin: 0; /* remove extra margin */
}

.about p {
  max-width: 500px;
}

/* ---------- Professional Journey ---------- */
.check-list {
  list-style: none;
  padding-left: 0;
}

.check-list li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.check-list i {
  color: #28a745;
}

.experience .badge,
.academic-journey .badge {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  display: inline-block; /* Ensure it behaves like a block element but stays inline */
  vertical-align: middle; /* Ensures it aligns vertically with text */
}

.border-left {
  border-left: 4px solid blue;
}

.card-animation {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-animation:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* ---------- Services ---------- */
.services a {
  text-decoration: none;
}

.services .card h5 {
  color: var(--dark-blue);
}

.services .card {
  transition: 0.3s ease-in-out;
}

.services .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* ---------- CONTACT INFO ---------- */
